<footer>
  <div class="social">
    <ul>
      <li class="facebook"></li>
      <li class="twitter"></li>
      <li class="pinterest"></li>
      <li class="youtube"></li>
      <li class="email"></li>
    </ul>
  </div>
  <div class="copyright">
    <span>&copy; 2013 by Timea Fülöp</span>
  </div>
</footer>
