<header>
  <div class="logo"></div>
  <div class="languages">
    <%= link_to_unless_current "English", locale: "en"  %>
    <%= link_to_unless_current "Magyar", locale: "hu"  %>
    <%= link_to_unless_current "Suomi", locale: "fi"  %>
  </div>
</header>


