<ul class="navigation">
  <%= nav_link "Home", root_path  %>
  <li class="apps"><a href="/apps">Apps</a></li>
  <%= nav_link "Books", books_path  %>
  <li class="blog"><a href="/blog">Blog</a></li>
  <li class="gallery"><a href="/gallery">Gallery</a></li>
</ul>

