<ul class="navigation">
  <li class="home"><a href="/">Home</a></li>
  <li class="apps"><a href="/apps">Apps</a></li>
  <li class="books"><a href="/books">Books</a></li>
  <li class="blog"><a href="/blog">Blog</a></li>
  <li class="gallery"><a href="/gallery">Gallery</a></li>
</ul>

