<ul class="navigation">
  <%= nav_link "Home", root_path  %>
  <%= nav_link "Apps", apps_path  %>
  <%= nav_link "Books", books_path  %>
  <li class="blog"><a href="/blog">Blog</a></li>
  <li class="gallery"><a href="/gallery">Gallery</a></li>
</ul>

