<div class="card about container">
  <div class="about-inner">
    <div class="text-wrapper">
      <div class="floats"></div> <!-- Ugly hack to have a container for the text to float around -->
      <h2><%= t 'home.about.title'  %></h2>
      <%= dat_markdown t('home.about.text')  %>
    </div>
  </div>
</div>

