<div class="card about container">
  <div class="about-inner">
    <div class="text-wrapper">
      <div class="floats"></div> <!-- Ugly hack to have a container for the text to float around -->
      <h2>Our Story</h2>
      <p>As a mother of twin girls I felt that it would be such a great gift for my daughters to write children's book about the stories from their life - as a nice memory from their childhood. They very often ask me now - at age 4 - “Mommy, tell us about your childhood, tell us some stories what did you do as a child!” And even though I have a lot of lovely memories I don't remember too much from the times I was in their age. I hope I can help them a little bit with these stories.</p>
      <p>Adding a little bit of spice to the stories I also created interactive books and several iPad applications with Niki & Jazmin. I have got a lot of feedback from my kids what they like and what they dislike in certain games. I try to combine those and make the application for their taste.</p>
      <p>I believe that the stories I write and the applications I make can help other kids to learn new things and they might even find some events familiar, similar to their life.</p>
      <p>I hope you will enjoy the stories of Niki and Jazmin as much as I was creating those!</p>
      <p>~ Timea Fülöp ~</p>
    </div>
  </div>
</div>

