<div class="hero">
  <div class="slider">
    <ul>
      <% @hero_products.each do |p| %>
        <li>
        <%= responsive_image_tag p.banner, alt: p.name, class: "hisrc", data: {href: p.store_link} %>
        </li>
      <% end %>
    </ul>
    <div class="ribbon">
      <h3><%= @hero_products.first.name %></h3>
    </div>
    <div class="store_badge">
      <%= link_to image_tag("AppStore.svg"), @hero_products.first.store_link %>
    </div>
  </div>
</div>

