<div class="hero">
  <div class="slider">
    <ul>
      <li><img src="assets/toyswing_banner.png" alt="Toy Swing" /></li> 
      <li><img src="assets/sweetdreams_banner.png" alt="Sweet Dreams" /></li>
      <li><img src="assets/comeplaywithus_banner.png" alt="Come Play With Us" /></li>
    </ul>
  </div>
  <div class="ribbon">
    <h3>Toy Swing</h3>
  </div>
  <div class="store_badge">
    <img src="assets/AppStore.svg" alt="" />
  </div>
</div>

