<div class="card reviews">
  <div class="card-inner">
    <h2><%= t 'home.reviews'  %></h2>
    <% @reviews.each_with_index do |review, i| %>
      <% if i == 0 %>
      <div class="review">
      <% else %>
      <div class="review hidden">
      <% end %>

        <div class="product-icon">
          <%= product_icon_tag review.product, :large  %>
        </div>
        <%= dat_markdown review.quote %>
        <%= link_to review_image_tag(review, :normal, :original, :class => "review-image")%>

      </div>
    <% end %>
  </div>
</div>

