<div class="card reviews">
  <div class="card-inner">
    <h2><%= t 'home.reviews'  %></h2>
    <% @reviews.each_with_index do |review, i| %>
      <% if i == 0 %>
      <div class="review">
      <% else %>
      <div class="review hidden">
      <% end %>

        <div class="product-icon">
          <%= responsive_image_tag review.product.icon.url(:large), :"2x" => review.product.icon.url, :class => "hisrc" %>
        </div>
        <%= dat_markdown review.quote %>
        <%= link_to responsive_image_tag(review.image.url(:normal), :"2x" => review.image.url, :class => "review-image hisrc"), review.link %>

      </div>
    <% end %>
  </div>
</div>

