<div class="card welcome">
  <div class="welcome-inner">
    <div class="textbox">
      <h2><%= t 'home.welcome.title'  %></h2>
      <%= dat_markdown t('home.welcome.text')  %>
    </div>  
  </div>
</div>
