<div class="card welcome">
  <div class="welcome-inner">
    <div class="textbox">
      <h2>Welcome to Niki & Jazmin!</h2>
      <p>Niki and Jazmin are two little twin girls. Come and meet them via short stories based on real-life events. We beleive that these can happen in any kid’s life. Read our stories from our books and play with us in our iPad applications.</p>
    </div>  
  </div>
</div>
