<div class="card">
  <ul class="navigation">
    <li class="home">Home</li>
    <li class="apps">Apps</li>
    <li class="books">Books</li>
    <li class="blog">Blog</li>
    <li class="gallery">Gallery</li>
  </ul>
  <div class="hero">
    <img src="assets/toyswing_banner.png" alt="Toy Swing" />
  </div>
</div>

<div class="card welcome">
  <h2>Welcome to Niki & Jazmin</h2>
  <p>Niki and Jazmin are two little twin girls. Come and meet them via short stories based on real-life events. We beleive that these can happen in any kid’s life. Read our stories from our books and play with us in our iPad applications.</p>
</div>

<div class="card about">
  <p>About</p>
</div>
