<div class="card">
  <%= render "shared/menu"  %>
</div>

<% for post in @posts do %>
  <div class="card post">
    <div class="card-inner">
      <%= content_tag :span, l(post.updated_at.to_date, :format => :long), class: 'date'  %>
      <h2>
        <%= post.title %>
      </h2>
      <%= dat_markdown post.text  %>
    </div>
  </div>
<% end %>
