/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */
@import "compass/reset";
@import "susy";
@import "compass/typography/vertical_rhythm";
@import "compass/css3/transform";

// vertical rhythm
$base-font-size : 16px;
$base-line-height : 24px;
@include establish-baseline;

// susy setup
$total-columns  : 10;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;

// own mixins
@mixin bleed($padding: $grid-padding, $sides: left right) {
  @if $sides == 'all' {
    margin: - $padding;
    padding: $padding;
  } @else {
    @each $side in $sides {
      margin-#{$side}: - $padding;
      padding-#{$side}: $padding;
    }
  }
}

@import "main";
@import "home";
@import "books";
@import "apps";
