/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */
//= require colorbox
//= require royalslider/royalslider
//= require royalslider/rs-default

@import "compass/reset";
@import "susy";
@import "compass/typography/vertical_rhythm";
@import "compass/css3/transform";
@import "utilities/retina_sprites";


// vertical rhythm
$base-font-size : 16px;
$base-line-height : 24px;
@include establish-baseline;

// susy setup
$total-columns  : 10;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;
$container-style: static;
@include border-box-sizing;

// own mixins
@mixin bleed($padding: $grid-padding, $sides: left right) {
  @if $sides == 'all' {
    margin: - $padding;
    padding: $padding;
  } @else {
    @each $side in $sides {
      margin-#{$side}: - $padding;
      padding-#{$side}: $padding;
    }
  }
}

@mixin background-image-retina($image) {
  background-image: image-url($image);

  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   -moz-min-device-pixel-ratio: 2 ),
  only screen and (    -ms-min-device-pixel-ratio: 2 ),
  only screen and (     -o-min-device-pixel-ratio: 2/1 ),
  only screen and (        min-device-pixel-ratio: 2 ),
  only screen and (                min-resolution: 192dpi ),
  only screen and (                min-resolution: 2dppx ) {
    @include background-size(image-width($image) auto);
    background-image: image-url(retina-filename($image));
  }
}

@import "main";
@import "home";
@import "books";
@import "apps";
@import "blog";
@import "gallery";
