$apps-accent-color : rgb(46,0,255);

.app {
  .wide-banner {
    margin-left: -$gutter-width;
  }

  .app-icon {
    display: inline-block;
  }

  h2 {
    display: inline-block;
    margin-left: 1em;
    color: $apps-accent-color;
  }
}
