$blog-accent-color : rgb(255, 148, 3);

.post {
  .text-container {
    @include span-columns(8);
    @include pre(1);
    padding-top: 1em;
  }
  .date {
    float: right;
    color: $blog-accent-color;
    font-family: 'Chalkduster', sans-serif;
  }
  h2 {
    color: $blog-accent-color;

    a {
      text-decoration: none;
      color: inherit;
      &:visited {
        color: inherit;
      }
    }
  }
}

.share {
  @include bleed;
  margin-top: 2em;
  padding-top: 1em;
  border-top-style: solid;
  border-top-color: #888;
  border-top-width: 1px;
}
