$blog-accent-color : rgb(255, 148, 3);

.post {
  .text-container {
    @include span-columns(8);
    @include pre(1);
    padding-top: 1em;
  }
  .date {
    float: right;
    color: $blog-accent-color;
    font-family: 'Chalkduster', sans-serif;
  }
  h2 {
    color: $blog-accent-color;
  }
}
