$books-accent-color : rgb(253, 0, 0);
.book {
  padding-bottom: 2em;

  .text-container {
    @include span-columns(7 omega);
    margin-top: 4em;
    h2 {
      color: $books-accent-color;
    }
  }
  .product-icon {
    margin-top: 2em;
    padding-left: 1em;
  }

  .store-link {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
