$accent-color : green;

.navigation {
  padding-left: 0;
  font-family: "Chalkduster", sans-serif;
  text-transform: uppercase;

  li {
    height: 2em;
    @include span-columns(2);
    &:last-child {
      @include omega;
    }
    margin-top: 0.5em;
    margin-bottom: 1em;
  }
}

.home {
  background: url(home_underscore_thick.png) no-repeat bottom;
}

.apps {
  background: url(apps_underscore_thin.png) no-repeat bottom;
}

.books {
  background: url(books_underscore_thin.png) no-repeat bottom;
}

.blog {
  background: url(blog_underscore_thin.png) no-repeat bottom;
}

.gallery {
  background: url(gallery_underscore_thin.png) no-repeat bottom;
}

.hero {
}

.welcome {
  .welcome-inner {
    position: relative;
    height: image-height("nikijazmin.png");
    &::before {
      content: " ";
      background: url(nikijazmin.png) no-repeat;
      width: image-width("nikijazmin.png");
      height: image-height("nikijazmin.png");
      position: absolute;
      left: -73px;
      top: -38px;
    }
  }

  .textbox {
    @include span-columns(5 omega);
    @include post(1);
    margin-top: 5em;
    text-align: right;

    h2 {
      color: $accent-color;
      font-size: 1.2em;
      margin-bottom: 1em;
    }
  }
}

.about {
  // make the image float to the bottom right by adding a flot on top of it
  .about-wrapper {
    &::before {
      content: " ";
      float: right;
      height: 10em;
      background-color: red;
      display: block;
    }

    img { bottom: 0;
      right: 0;
      float: right;
      clear: right;
    }
  }
}
