$text-color : #888;

// page setup
$logo-image : "logo.png";
$card-left-shadow: "leftshadow.png";
$card-right-shadow: "rightshadow.png";

@font-face {
  font-family: 'Chalkduster';
  src: url('Chalkduster.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'The Girl Next Door';
  src: url('TheGirlNextDoor.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// sprite sheets
@import "menu/*.png";
@include all-menu-sprites;

body {
  background: url(background.png) repeat;
  color: $text-color;
  font-family: 'The Girl Next Door', cursive;
}

p {
  margin-bottom: 1em;
  margin-top: 1em;
}

h2 {
  font-family: 'Chalkduster', sans-serif;
}

header {
  position: relative;

  .logo {
    position: relative;
    height: image-height($logo-image);
    width: image-width($logo-image);
    display: inline-block;

    // this needed to be able to overflow the logo image to the left
    &::before {
      content: " ";
      position: absolute;
      left: -2 * $gutter-width;
      background: url($logo-image) no-repeat;
      height: image-height($logo-image);
      width: image-width($logo-image);
    }
  }

  .languages {
    position: absolute;
    bottom: 0;
    right : 0;
  }
}


.navigation {
  padding-left: 0;
  font-family: "Chalkduster", sans-serif;
  text-transform: uppercase;
  overflow: hidden;

  li {
    height: 3em;
    @include span-columns(2);
    &:last-child {
      @include omega;
    }
    margin-top: 0.5em;
    margin-bottom: 1em;
    padding-top: 1em;

    a {
      text-decoration: none;
      color: #000;
      font-size: 16px;
    }
  }
}

@each $item in home, apps, books, blog, gallery {
  .#{$item}.selected {
    @extend .menu-#{$item}_thick;
  }
  .#{$item} {
    @extend .menu-#{$item}_thin;

    &:hover {
      @extend .menu-#{$item}_thick;
    }
  }
}


footer {
  @include bleed;
  border-top-style: solid;
  border-top-color: $text-color;
  border-top-width: 2px;
  margin-bottom: 2em;
  clear: both;
}

.social {
  ul {
  }
  li {
    float:left;
    margin-top: 5px;
    margin-right: 5px;
  }
  .facebook {
    background: url(facebook.png) no-repeat;
    width: image-width("facebook.png");
    height: image-height("facebook.png");
  }
  .twitter {
    background: url(twitter.png) no-repeat;
    width: image-width("twitter.png");
    height: image-height("twitter.png");
  }
  .pinterest {
    background: url(pinterest.png) no-repeat;
    width: image-width("pinterest.png");
    height: image-height("pinterest.png");
  }
  .youtube {
    background: url(youtube.png) no-repeat;
    width: image-width("youtube.png");
    height: image-height("youtube.png");
  }
  .email {
    background: url(email.png) no-repeat;
    width: image-width("email.png");
    height: image-height("email.png");
  }
}

.copyright {
  text-align: right;
  font-family: 'Helvetica', sans-serif;
  font-size: 12px;
}

.container {
  @include container;
  // @include susy-grid-background;
}

.card {
  @include bleed;
  position: relative;
  background-color: white;
  margin-bottom: 4em;

  // create the shadows dynamically
  &::after {
    content: " ";
    z-index: -1;
    background: url($card-left-shadow) no-repeat;
    height: image-height($card-left-shadow);
    width: image-width($card-left-shadow);
    position: absolute;
    bottom: -1.2em;
    left: -1em;
  }

  &::before {
    content: " ";
    z-index: -1;
    background: url($card-right-shadow) no-repeat;
    height: image-height($card-right-shadow);
    width: image-width($card-right-shadow);
    position: absolute;
    bottom: -1.2em;
    right: -1em;
  }

  // this inner container is needed to clear the floats
  .card-inner {
    @include bleed;
    overflow: hidden;
    position: relative;
    padding-bottom: 1em;
  }
}

.store-link {
  position: absolute;
  right: 1em;
  bottom: 0.5em;
}

.coming-soon {
  position: relative;
  background: url(comingsoon.png) no-repeat;
  width: image-width("comingsoon.png");
  height: image-height("comingsoon.png");
  position: absolute;
  top: -1.75em;
  right: -1.75em;
  z-index: 9999;

  span {
    display: inline-block;
    position: absolute;
    top: 55px;
    left: 120px;
    color: #FFF;
    font-size: 18px;
    font-family: "Chalkduster", sans-serif;
    text-transform: uppercase;
    @include rotate(25deg);
  }
}

.text-container {
  font-size: 14px;
  ul {
    list-style-type: disc;
    padding-left: 2em;
  }
}
